<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wstępna część aplikacji warsztat</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Strichpunkt+Sans:wght@400..900&display=swap" rel="stylesheet">

</head>

<body>
    {% for awarie in awaria %}
        <p>zgłaszający: {{ awarie.zglaszajacy }}</p>
        <p>data zgłoszenia: {{ awarie.data_zgloszenia }}</p>
        <p>lokalizacja: {{ awarie.lokalizacja }}</p>
        <h2>opis: {{ awarie.opis }}</h2>
        <h5>priorytet: {{ awarie.priorytet }}</h5>
        <h5>status: {{ awarie.status }}</h5>
        <h5>uwagi technika: {{ awarie.uwagi_technika }}</h5>
    {% endfor %}
</body>
</html>